extends layout
block content
        script.
            function update(){
                var req = new XMLHttpRequest();
                req.open('GET','/results');
                req.onreadystatechange = function(){
                    if(req.readyState == 4){
                        document.getElementById('content').innerHTML = req.responseText;
                    }
                }
                req.send();
            }
    body
        #content!= results
        input(type='button',value='Update',onclick='update()')